@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <img src="https://azurecomcdn.azureedge.net/cvt-56536fb81069eda7727cd793e5f8e35194a748477a1b819a39e0a37e708ee516/images/shared/regions-map-large.svg" />
    </div>
