@using SmartLearning_salon.Models 
@model Person

<!-- Hvordan får jeg filnavnet ned til Person view? -->

<h2>Upload dit Covid 19 test resultat</h2>

@Html.TextBoxFor(m => m.TestResult, new { type = "file" })
@Html.ValidationMessageFor(m => m.TestResult)
